body {
    background-color: #dddddd;
}

.App-header {
}

.App-Container{
    min-height: 80vh;

}

.App-Footer{

}

.mb-15 {
    margin-bottom: 15px;
}
.b{
    font-weight: bold;
}
.ml-10{
    margin-left: 10px;
}
.nav-wrapper .input-field input[type=search] {
    height: auto;
   
}